body {
   font-family: Google Sans, arial, sans-serif;
   background-color: #f2f3f4
}

h1 {
   color: rgb(33, 33, 33);
   font-weight: 400;
   margin-bottom: 0;
}

ul {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
   margin: 0;
   padding: 0;
   color: rgb(135, 135, 135);
   font-size: 16px;
   font-weight: 400;
   line-height: 19px;
}

li:first-letter {
   text-transform: capitalize;
}

.search-btn {
   color: rgb(255, 255, 255);
}

.form-control {
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.weather-app-wrapper {
   max-width: 600px;
   margin: 30px auto;
   border: #878787;
   border-radius: 0.3;
}

.weather-app {
   padding: 20px;
   border: 1px solid #dadde1;
   border-radius: 5px;
   background-color: #e7eaf6ed;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.overview {
   margin-bottom: 20px;
}

.weather-temperature img {
   margin-right: 10px;
   float: left;
   height: 64px;
   width: 64px;
}

.weather-temperature strong {
   color: rgb(33, 33, 33);
   font-size: 64px;
   font-weight: 400;
   line-height: 1;
}

.weather-temperature .units {
   position: relative;
   font-size: 16px;
   top: -34px;
}

.weather-temperature .active {
   color: rgb(33, 33, 33);
   cursor: default;
   text-decoration: none;
}

.weather-temperature .active:hover {
   text-decoration: none;
}

a {
   text-decoration: none;
}

.weather-forecast {
   margin-top: 20px;
   text-align: center;
}

.weather-forecast-date {
   font-size: 16px;
   opacity: 0.5;
}

.weather-forecast-temperature-min {
   opacity: 0.5;
}

.weather-forecast-temperature {
   font-size: 13px;
}